## Visual Studio cache & temporary files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Node & Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## .NET Build artifacts
[Bb]in/
[Oo]bj/
*.user
*.suo

## Uploaded Recordings
**/wwwroot/recordings/*.webm
**/wwwroot/recordings/*.wav
**/wwwroot/recordings/*.mp3
